<!DOCTYPE html>
<html lang="fr">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<title>À propos de la transmission des indicateurs et du niveau de résultat - Egalité professionnelle - Ministère du Travail</title>
<link rel="stylesheet" href="assets/css/egapro.css">
<link rel="stylesheet" href="assets/css/consultation.css">

<header>
  <div>
    <a href="https://travail-emploi.gouv.fr/" target="_blank"><img src="/assets/img/marianne.svg" alt="Marianne"></a>
    <hgroup>
      <h1><a href="https://index-egapro.travail.gouv.fr/" target="_blank">Index Egapro</a></h1>
    </hgroup>
    <p>
      L’outil de consultation de votre index égalité professionnelle Femmes&#8209;Hommes
    </p>
  </div>
</header>

<main class=main>
  <h1>À propos de la consultation des indicateurs et du niveau de résultat</h1>

  <p>Les entreprises de plus de 250 salariés ont l'obligation de transmission aux services du ministre chargé du travail des indicateurs et du niveau de résultat en matière d’écart de rémunération entre les femmes et les hommes prévue à l’article D.1142-5 du code du travail.</p>

  <p>
    Vous pourrez ici consulter l'index d'égalité déclaré par ces entreprises par leur nom.
  </p>

  <form class="row" id="search-form">
    <input type="search" name="q" value="" placeholder="Nom de l'entreprise">
    <button rel="next">Rechercher</button>
  </form>

  <section id="search-results">
    <script type="text/html">
      <h1> <%= total %> Entreprises correspondent à cette recherche</h1>
      <% records.forEach((record) => { %>
      <article class=entreprise>
        <header>
          <h1><%= record.informationsEntreprise.nomEntreprise %></h1>
          <p><small>Déclaration <%= record.informations.anneeDeclaration %></small></p>
        </header>
        <section>
          <ul>
            <li>siren : <%= record.informationsEntreprise.siren %></li>
            <li>structure : <%= record.informationsEntreprise.structure %></li>
          </ul>
          <% if(record.informationsEntreprise.entreprisesUES.length) { %>
            <details>
              <summary>Entreprises UES</summary>
              <ul>
                <% record.informationsEntreprise.entreprisesUES.forEach((ues) => { %>
                <li><%= ues.nom %> (<%= ues.siren %>)</li>
                <% }) %>
              </ul>
            </details>
          <% } %>

        </section>
      </article>
      <% }) %>
    </script>
  </section>
<!--
  q
  limit
  offset
  code
  departement
  region
  -> results
-->
</main>

<footer>
  <header>
    <a href="https://travail-emploi.gouv.fr/" target="_blank">
      <img src="/assets/img/marianne.svg" alt="Marianne">
    </a>
  </header>
  <nav>
    <a href="https://travail-emploi.gouv.fr/droit-du-travail/egalite-professionnelle-discrimination-et-harcelement/indexegapro"
      target="_blank" rel="noopener noreferrer">retrouvez le simulateur au format Excel</a>
    <a href="https://index-egapro.travail.gouv.fr/mentions-legales">mentions légales</a>
    <a href="https://index-egapro.travail.gouv.fr/cgu">conditions
      générales d'utilisation</a>
    <a href="https://index-egapro.travail.gouv.fr/politique-confidentialite">politique de
      confidentialité</a>
  </nav>
  <footer>
    <p>
      Index Egapro a été développé par les équipes de la fabrique numérique des ministères sociaux. Pour nous aider à l'améliorer
      <a href="https://voxusagers.numerique.gouv.fr/Demarches/2240?&amp;view-mode=formulaire-avis&amp;nd_mode=en-ligne-enti%C3%A8rement&amp;nd_source=button&amp;key=73366ddb13d498f4c77d01c2983bab48" target="_blank" rel="noopener noreferrer">donnez-nous votre avis</a> ou <a href="https://github.com/SocialGouv/egapro-consultation" target="_blank" rel="noopener noreferrer">contribuez sur Github</a>
    </p>
  </footer>
</footer>

<div id="toast">
  <div class=content>
    <span class=message></span>
    <a href="#" onclick="notify.close()" class=close>x</a>
  </div>
</div>

<script src="assets/js/utils.js"></script>
<script src="assets/js/ejs.js"></script>
<script>
  const config = {
    apiUrl: 'https://dev.egapro.fabrique.social.gouv.fr/api'
  }
  const resultNode = document.querySelector('#search-results')
  const template = resultNode.querySelector('script').innerHTML

  document.querySelector('#search-form').addEventListener('submit', async (event) => {
    event.preventDefault()
    const data = new URLSearchParams(new FormData(event.target))
    const response = await request('GET', `${config.apiUrl}/search?${data}`)
    resultNode.innerHTML = ejs.render(template, { records: response.data.data, total: response.data.total })
    console.debug(response.data.data)
  })
</script>

</html>
