<!DOCTYPE html>
<html lang="fr">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<title>L'index d'égalité dans les entreprises - Ministère du Travail</title>
<link rel="stylesheet" href="assets/css/consultation.css">
<script
  src="assets/js/sentry.min.js"
  integrity="sha384-ir4+BihBClNpjZk3UKgHTr0cwRhujAjy/M5VEGvcOzjhM1Db79GAg9xLxYn4uVK4"
  crossorigin="anonymous"
></script>
<script>
  if (typeof Sentry !== "undefined") {
    Sentry.init({
      dsn: 'https://c98522783c284ae1ada779bc05a57a96@sentry.fabrique.social.gouv.fr/51',
      release: '{{ site.version }}'
    })
  }
</script>

<header>
  <div class=content-wrapper>
    <a href="https://travail-emploi.gouv.fr/" target="_blank">
      <img src="assets/img/marianne-header.png" alt="Ministère du travail, de l'emploi et de l'insertion. Liberté, égalité, fraternité">
    </a>
    <a href="/">
      <img src="assets/img/logo.png" alt="Index Égalité Femme/Homme">
    </a>
    <hgroup>
      <h1><a href="https://index-egapro.travail.gouv.fr/" target="_blank">Index Égalité Professionnelle</a></h1>
      <h2>La référence sur l'égalité F/H en entreprise</h2>
    </hgroup>
    <p hidden>
      <a>Comment l'index est-il calculé ?</a>
    </p>
  </div>
</header>

<main>
  <article>
    <blockquote>
      L'index d'égalité Femmes-Hommes dans les entreprises de plus de 250 salariés
    </blockquote>
  </article>

  <article id=search>
    <h1>Recherche par entreprise</h1>
    <form action="/search" class="row" id="search-form">
      <input type="search" name="q" value="" placeholder="Tapez le nom d'une entreprise">
      <button rel="next"><img src="https://cdn3.iconfinder.com/data/icons/apply/32/apply_21-512.png" alt="Rechercher"></button>
    </form>
  </article>

  <page name="home">
    <p>
      Vous souhaitez consulter les données de toutes les entreprises ?
      <br>
      Téléchargez le fichier recensant toutes les déclarations <span id="csv-date"><% if (state.csv_update) { %>au <%= state.csv_update %><% } else { %>actuelles<% } %><span> au format tableur (.csv) :
    </p>
    <a class="button" href="/index-egalite-fh.csv" download>⤓ Télécharger</a>
  </page>

  <page name="search">
    <div class="content-wrapper">
      <h1><%= data.length %> résultat<% if(data.length > 1) { %>s<% } %></h1>
      <% data.forEach((record) => { %>

      <article class=result>
        <header>
          <h1><%= record.entreprise.raison_sociale %></h1>
          <p>SIREN : <%= record.entreprise.siren %></p>
          <p class=department>Département <%= record.entreprise.département %></p>
        </header>
        <section>
          <h3>
            <% if(record.entreprise.effectif.tranche.includes('1000')) { %>
              Plus de 1000
          <% } else { %>
              251 à 1000
          <% } %>
          </h3>
          <p>salariés</p>
        </section>
        <% Object.entries(record.notes).sort().reverse().forEach((declaration) => { %>
          <section>
            <h3><%= declaration[1] %></h3>
            <p>En <%= declaration[0] %></p>
          </section>
        <% }) %>
      </article>
      <% }) %>
    </div>
  </page>

  <page name="404">
    La page demandée n'existe pas
  </page>
</main>

<footer>
  <div class="content-wrapper">
    <section>
      <header>
        <a href="https://travail-emploi.gouv.fr/" target="_blank">
          <img src="assets/img/marianne-footer.png" alt="Ministère du travail, de l'emploi et de l'insertion. Liberté, égalité, fraternité">
        </a>
      </header>
      <aside>
        <p>
          Porté par la loi « Pour la liberté de choisir son avenir professionel » du 5 septembre 2018, l'Index d'égalité professionnelle a été conçu pour faire progresser au sein des entreprises l'égalité salariale entre les femmes et les hommes.
        </p>
      </aside>
    </section>
    <nav>
      <a href="https://voxusagers.numerique.gouv.fr/Demarches/2240?&amp;view-mode=formulaire-avis&amp;nd_mode=en-ligne-enti%C3%A8rement&amp;nd_source=button&amp;key=73366ddb13d498f4c77d01c2983bab48" target="_blank" rel="noopener noreferrer">donnez-nous votre avis</a>
      <a href="https://github.com/SocialGouv/egapro-consultation/tree/{{ site.version }}" target="_blank" rel="noopener noreferrer">contribuez sur Github</a>
    </nav>
  </div>
</footer>

<script src="assets/js/page.js"></script>
<script src="assets/js/ejs.js"></script>
<script src="assets/js/utils.js"></script>
<script>
  const config = {
    apiUrl: 'https://dev.egapro.fabrique.social.gouv.fr/api'
  }

  ////////////////
  /* State      */
  ////////////////

  const state = {
    csv_update: undefined
  }

  async function init() {
    const response = await request('head', "/index-egalite-fh.csv")
    if (!response.ok) return
    const lastModified = new Date(response.headers.get('last-modified'))
    state.csv_update = lastModified.toLocaleDateString()
  }

  ////////////////
  /* Templating */
  ////////////////

  // Cache templates
  const templates = Array.from(document.querySelectorAll('page')).reduce((templates, page) => {
    const name = page.getAttribute('name')
    templates[name] = page.innerHTML
    return templates
  }, {})

  function getTemplate(name) {
    return templates[name].replaceAll('&lt;', '<').replaceAll('&gt;', '>')
  }

  async function render(name, data) {
    const state = await init()
    const withState = {...state, ...data}
    Array.from(document.querySelectorAll('page')).forEach((page) => {
      page.removeAttribute('visible')
    })
    const page = document.querySelector(`page[name="${name}"]`)
    page.setAttribute('visible', 'visible')
    const html = getTemplate(name)
    page.innerHTML= ejs.render(html, withState)
  }


  /////////////////
  /* Controllers */
  /////////////////

  // Enable query params for router. This must remain before specific routes.
  page('*', (req, next) => {
    req.query = new URLSearchParams(req.path.split('?')[1])
    next()
  })

  page('/', () => {
    render('home')
  })

  page('/search', async (req) => {
    const response = await request('GET', `${config.apiUrl}/search?${req.query}`)
    render('search', response.data)
  })

  page('*', () => {
    render('404')
  })

  page({ hashbang: true })

  // Route also form action as hashbang
  Array.from(document.querySelectorAll('form')).forEach((form) => {
    form.addEventListener('submit', (event) => {
      event.preventDefault()
      const queryParams = new URLSearchParams(new FormData(form))
      const pathname = new URL(form.action).pathname
      page(`${pathname}?${queryParams}`)
    })
  })
</script>

</html>
