@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

  /* ****** */
 /* RESET */
/* **** */

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  min-height: calc(100vh - 120px);
}

*:focus {
  outline: none;
}

  /* ********** */
 /* COMPONENTS */
/* ********** */

.button {
  display: inline-block;
  padding: .5rem 4rem;
  border-radius: 2rem;
  border: 1px solid rgb(150, 125, 225);
  color: rgb(150, 125, 225);
  background-color: transparent;
  text-decoration: none;
  font-size: .9rem;
  line-height: inherit;
  cursor: pointer;
}

.button.primary {
  background-color: rgb(150, 125, 225);
  color: #fff;
  border: 1px solid #fff;
}


.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

  /* ****** */
 /* LAYOUT */
/* ****** */

body {
  color: #444;
  font-family: "Cabin",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  margin: 0 auto;
  line-height: 1.6;
  font-size: 18px;
}

h1 {
  font-size: 1.3rem;
}
h2 {
  font-size: 1.1rem;
}

body > header img {
  max-height: 5rem;
}

body > header {
  position: fixed;
  padding: 2rem 0;
  background: #fff;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
body > header > div {
  margin: auto;
  width: inherit;
  display: flex;
  align-items: center;
}
body > header > div > * {
  width: 33%;
}
body > header > div > :nth-child(2) {
  text-align: center;
}

body > header hgroup {
  text-align: right;
}
body > header h1 {
  margin: .1rem 0;
}
body > header h2 {
  font-weight: normal;
}
body > header a {
  text-decoration: none;
  color: inherit;
}
body > header p a {
  text-decoration: underline;
}


main {
  margin-top: 150px; /* height of the header */
  background: linear-gradient(#eff0fa,#fff);
}


main > article {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 3rem;
}

main blockquote {
  font-weight: bolder;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: black;
  padding: 1rem;
}

main h1,
main h2 {
  color: black;
}

form {
  max-width: 800px;
  margin: 0 auto;
}

input {
  border: 1px solid #777;
  border-radius: 5rem;
  padding: 1rem;
  font: inherit;
}

form h1 {
  margin: 3rem auto 1.5rem auto;
  text-align: center;
}

#search {
  padding: 2rem 0;
}
#search form {
  width: 100%;
}
#search fieldset {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
#search input {
  width: 100%;
  margin-right: 0;
  margin: auto 2rem;
}
#search form button {
  margin-top: 2rem;
}

fieldset {
  flex-basis: 80%;
  border: 0;
  padding: 0;
}

select {
  border-radius: 3rem;
  padding: .5rem 1rem;
  background-color: transparent;
  width: 32%;
}
body .overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 100;
  text-align: center;
}
body.ready .overlay {
  display: none;
}
body.ready.loading button,
body.ready.loading select,
body.ready.loading .navigation {
  opacity: 0.5;
}
body > footer {
  border-top: #eee solid 1px;
  margin-top: 2rem;
  background-color: #6a6a6a;
  color: #fff;
}
body > footer header img {
  max-height: 5rem;
}
body > footer section {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 1rem 0;
}
body > footer section p {
  max-width: 40rem;
  font-size: 1rem;
}
body > footer a {
  color: inherit;
}
body > footer nav {
  display: block;
  border-top: 1px solid #fff;
  width: 100%;
  padding: .5rem 1rem;
}
body > footer nav a {
  display: inline-block;
  font-size: .8rem;
  text-decoration: none;
  padding-right: 1rem;
  margin-right: 1rem;
  border-right: 1px solid #aaa;
}
body > footer nav a:hover {
  text-decoration: underline;
}
body > footer nav a:last-of-type {
  border-right: none;
}
body > footer p {
  margin: 0;
}

  /* **************** */
 /* Specific content */
/* **************** */

article#download {
  padding: 3rem 0;
  background-color: #fff;
}

#average {
  padding: 2rem 0;
  text-align: center;
}
#average p {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3rem;
}
#average p span {
  display: block;
  font-size: 3rem;
}

article[name=home] {
  text-align: center;
}


article[name=search] {
  background: #fff;
  padding-top: 3rem;
  text-align: left;
}
article[name=search] a {
  color: #444;
  text-decoration: none;
}
article[name=search] form {
  max-width: none;
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 1rem;
}
article[name=search] form p {
  margin: 0 2rem 0 0;
}
article[name=search] form p span {
  font-weight: bold;
}

article[name=search] .result {
  border-bottom: 1px solid #ccc;
}

article[name=search] .department {
  font-weight: lighter;
  color: #555;
  font-size: .9rem;
}
article[name=search] details {
  margin: 0 !important;
  padding: 0 !important;
  flex-basis: 100%;
  font-size: .9rem;
}
article[name=search] details summary {
  cursor: pointer;
}
article[name=search] details ol {
  line-height: 2;
}
article[name=search] details summary:focus {
  outline: none;
}
article[name=search] footer {
  text-align: center;
}

#no-result {
  text-align: center;
}


@media (min-width: 900px) {
  #search input {
    margin: auto 0;
  }
  article[name=search] .result h1,
  article[name=search] .result section span {
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 .2rem 0;
    display: block;
  }
  article[name=search] .result p {
    margin: 0 0 .3rem 0;
  }
  article[name=search] .result > header,
  article[name=search] .result > section {
    border-right: 1px solid #777;
    padding: 0 2rem;
  }
  article[name=search] .result > section {
    text-transform: uppercase;
    text-align: center;
  }
  article[name=search] .result > *:first-child {
    padding-left: 0;
  }
  article[name=search] .result > section:last-of-type {
    border-right: none;
  }

  article[name=search] .result {
    display: flex;
    flex-wrap: wrap;
    color: #000;
    margin: 0 0 2rem 0;
    border-bottom: none;
  }
  article[name=search] .result header {
    width: 30%;
  }
}
