main {
  margin-top: 100px; /* height of the header */
}

page {
  display: none;
}
page[visible] {
  display: block;
}

#search-form {
  margin: 4rem 0;
  justify-content: center;
}
#search-form input {
  width: 80%;
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}
#search-form button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

article.entreprise {
  background-color: #fff;
  box-shadow: 0 0 2px rgba(50, 50, 50, .2);
  padding: 1rem;
  border-radius: 1rem;
  margin: .3rem 0;
}
article.entreprise h1 {
  margin: 0 0 1rem 0;
}
