@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

  /* ****** */
 /* RESET */
/* **** */

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  min-height: calc(100vh - 120px);
}

  /* ****** */
 /* LAYOUT */
/* ****** */

body {
  background: linear-gradient(#eff0fa,#fff);
  color: #444;
  font-family: "Cabin",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  max-width: 800px;
  margin: 0 auto;
}

header img {
  width: 90px;
}

body > header {
  position: fixed;
  display: flex;
  padding: 2rem 0;
  background: #fff;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}
body > header > div {
  margin: auto;
  width: inherit;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

body > header h1 {
  font-size: 1.3rem;
  margin: .1rem 0;
}
body > header h2 {
  font-size: 1.1rem;
  font-weight: normal;
}
body > header a {
  text-decoration: none;
  color: inherit;
}
body > header p a {
  text-decoration: underline;
}


main {
  margin-top: 100px; /* height of the header */
}

body > footer {
  border-top: #eee solid 1px;
  font-size: .88rem;
  display: flex;
  /* margin-top: 1rem; */
  padding: 1rem 0 .5rem 0;
}
body > footer header span {
  display: block;
  margin-top: .5rem;
}
body > footer a {
  color: inherit;
  font-size: .9em;
}
body > footer nav {
  width: 100%;
  margin: 0 1rem 0 1rem;
}
body > footer nav a {
  display: block;
  margin-bottom: .3rem;
}
body > footer p {
  margin: 0;
}


  /* **************** */
 /* Specific content */
/* **************** */

page {
  display: none;
}
page[visible] {
  display: block;
}

#search-form {
  margin: 4rem 0;
  justify-content: center;
}
#search-form input {
  width: 80%;
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}
#search-form button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

article.entreprise {
  background-color: #fff;
  box-shadow: 0 0 2px rgba(50, 50, 50, .2);
  padding: 1rem;
  border-radius: 1rem;
  margin: .3rem 0;
}
article.entreprise h1 {
  margin: 0 0 1rem 0;
}
